<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COWIN</title>
</head>

<body>
    <h1>
        SELECT A DISTRICT
    </h1>

    <ul>
        <% for(let district of districtList){ %>

        <li>
            <a>
                <%=district.district_name%></a></li>
        <% }%>
    </ul>

</body>

</html>